div.wrapper.row4.orange.dark-grey-color
    footer#footer.hoc.clear
        div.flex-1
            ul.nospace.linklist.contact
                li
                    i.fa.fa-map-marker
                    address Strada Berariei, nr. 6
                    address Cluj-Napoca
                li
                    i.fa.fa-phone
                    address +40 (753) 012 119
                    address +40 (754) 327 260
                li
                    i.fa.fa-envelope-o
                    address officefloadventure@gmail.com


        div.flex-1
            ul.nospace.linklist
                li
                    a.orange-color(href="#") Scoala de alpinism si supravietuire
                li
                    a.orange-color(href="#") Extrem Romania
                li
                    a.orange-color(href="#") Sala de escalada Free Wall
                li
                    a.orange-color(href="#")

        div.flex-1-5
            p.btmspace-30 Nu ezitati sa ne contactati pentru a pune la cale urmatoarea aventura.
            form(method="post", action="#")
                fieldset
                    legend Aboneaza-te
                    input.btmspace-15(type="text", value="", placeholder="Nume")
                    input.btmspace-15(type="text", value="", placeholder="E-mail")
                    a.orange-color(href="#") Submit

//Copyright
div.wrapper.row4.dark-grey.border-line
    div#copyright.hoc.clear.light-grey-color
        p.fl_left Copyright &copy; 2018 - All Rights Reserved - Flo Adventure Tours