div.page-description.orange.dark-grey-color
    div#footer.hoc.container.clear.downspace-50.upspace-40(data-device="#{type}")
        div.flex-1.upspace-20(data-device="#{type}")
            span.font-montserrat-bold.font-1-2 Despre noi
            //a(href="/planificator").font-montserrat-light planificator
            a(href="/contact").font-montserrat-light contact
            a(href="/inscriere").font-montserrat-light inscriere
            a(href="/download/sitemap.xml").font-montserrat-light sitemap



        div.flex-1.upspace-20(data-device="#{type}")
            span.font-montserrat-bold.font-1-2 Echipa
            a(href="http://www.extremromania.ro").font-montserrat-light extremromania
            a(href="http://www.freewall.ro").font-montserrat-light freewall



        div.flex-1-5.upspace-20(data-device="#{type}")
            span.font-montserrat-bold.font-1-2 Abonare

            form.dark-grey-color(action="/abonare", method="post")
                input(type="text", name="email", placeholder="E-mail", required)
                button.dark-grey trimite
            a(href="https://www.facebook.com/floadventure/").inline.dark-grey-color.fa.fa-2x.fa-facebook-f.padding-left-right-10
            a(href="https://www.youtube.com/channel/UCpxI7-uEqDFqVevg9UB3PDQ/videos").inline.dark-grey-color.fa.fa-2x.fa-youtube-square.padding-left-right-10




//Copyright
div.wrapper.row4.orange.dust-white-color.border-line
    div#copyright.hoc.clear.dust-white-color
        p.fl_left Copyright &copy; 2019 - All Rights Reserved - Flo Adventure Tours