div.page-description.orange.dark-grey-color
    div#footer.hoc.container.clear.downspace-50.upspace-40(data-device="#{type}")
        div.flex-1.upspace-20(data-device="#{type}")
            span.font-montserrat-bold.font-1-2 Despre noi
            a(href="/planificator").font-montserrat-light evenimente
            a(href="/contact").font-montserrat-light contact
            a(href="/sitemap.xml").font-montserrat-light sitemap



        div.flex-1.upspace-20(data-device="#{type}")
            span.font-montserrat-bold Echipa
            a(href="http://www.extremromania.ro").font-montserrat-light extremromania
            a(href="http://www.freewall.ro").font-montserrat-light freewall



        div.flex-1-5(data-device="#{type}")


//Copyright
div.wrapper.row4.dark-grey.border-line
    div#copyright.hoc.clear.light-grey-color
        p.fl_left Copyright &copy; 2018 - All Rights Reserved - Flo Adventure Tours