head
    title Flo Adventure Tours
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

    link(href="/styles/bootstrap.min.css" rel="stylesheet")
    link(href="/styles/aos.css" rel="stylesheet")
    link(href="/styles/slick.css" rel="stylesheet")
    link(href="/styles/main.css" rel="stylesheet" type="text/css" media="all")