- classHome = (navigation == 'home'? 'active': '')
- classRomania = (navigation == 'romania'? 'active': '')
- classExpeditii = (navigation == 'expeditii'? 'active': '')

ul.fl.clear

    i.fa.fa-close.fa-2x.upper.dust-white-color
    li.fl.home-desk(class=classHome)
        a(href="/").fa.fa-home
    li.fl.home-mob(class=classHome)
        a(href="/") Acasa

    li.fl(class=classRomania)

        a.drop Romania
        if device.mobile || device.tablet
            div.dash
        ul.sl
            li.sl
                a(href="/4x4-3-zile") 4x4 in 3 zile
            li.sl
                a(href="/4x4-5-zile") 4x4 in 5 zile
            li.sl
                a(href="/apuseni-3-zile") 3 zile in Apuseni
            li.sl
                a(href="/apuseni-5-zile") 5 zile in Apuseni

    li.fl(class=classExpeditii)

        a.drop Expeditii
        if device.mobile || device.tablet
            div.dash
        ul.sl
            li.sl
                a.drop(href="/montblanc") Mont Blanc
            li.sl
                a.drop(href="/grossglockner") Grossglockner
            li.sl
                a(href="/elbrus") Elbrus
            li.sl
                a(href="") Kilimanjaro
            li.sl
                a(href="/maroc") Jebel Toubkal  
            li.sl
                a(href="everest-basecamp") Everest Base camp
            li.sl
                a(href="/everest-intoarcerea-cu-elicopter") Intoarcerea cu elicopterul
            li.sl
                a(href="/island-peak-basecamp") Island Peak
                
            li.sl
                a K2 Base camp

    li.inscriere-mob.fl
        a(href="/inscriere") Inscriere

    li.fl
        a(href="/contact") Contact

    