extends ./index.jade

block vars
	- var title='Expeditii - Flo Aventure Tours'
	- var description = 'Flo Adventure Tours ofera expeditii in Alpi, Africa, Asia.'
	- var ogtitle= title
	- var ogDescription= description
	- var ogurl = 'http://www.floadventure.ro/expeditii'
	- var ogimage = "http://www.floadventure.ro/images/expeditii.png"

block content
	div.bgded.bgded-top(style="background-image:url('/images/expeditii.png');")
		div.wrapper.dust-white-color
			header#header.clear

				if device.desktop
					div.main-nav.downspace-40.dust-white-color.flex-1.clear
						include components/navigation
				else
					div.mobile-nav.flex-1-5
						i.fa.fa-bars.fa-2x.upper.show-panel.dark-grey-color
						nav.sidenav.clear
							include components/navigation-mobile

				div#logo.text-center.flex-4.upspace-35
					div.sign(data-device="#{type}", style="background-image:url('/images/logo-flo-adventure.png');")
					h1.font-4
						a.dark-grey-color(href="#", title="Expeditii") Expeditii
					h3.dark-grey-color.font-2 Flo Adventure Tours

	div.scroll-down
		div.chevron
		div.chevron
		div.chevron


	div.page-description.wrapper.dust-white-color.dark-grey.height-100
		div.container.clear.center(data-device="#{type}")
			p.font-open-sans.center.flex-1 Alege expeditiile noastre din Europa, Africa si Asia si bucura-te de minunile naturii. Pentru inscriere foloseste #[a.highlight(href='/inscriere', title="Inscriere") formularul de inscriere].
	div.page-description.wrapper.dust-white-color.dark-grey
		div.container.width-full.max-width-full.padding-0.clear.dark-grey(data-device="#{type}", style="align-items:normal;")

			div#full-grid.width-90(data-device="#{type}", style="height: 2000px;")
				a(title="Africa", style="height: 400px").full-grid-item.third.planning
					div.flex-1.dark-grey
					div.details.dust-white-color(style="bottom: 35%; left:10%")
						div.separator.orange.btmspace-10
						div.title.font-2 AFRICA

				a(href="/maroc", title="Expeditie Jebel Toubkal", style="height: 400px;").full-grid-item.third.planning
					div.flex-1(style="background-image:url('/images/maroc-grid-5.png'); background-size: cover; background-position: top;")
					div.upper-details.orange-color
						div.date.font-1-3 17 - 19 mai
					div.ribbon-small(style="background-image:url('/images/logo-expeditii.png');")
					div.details.dust-white-color
						div.separator.orange.btmspace-10
						div.title.font-1-5 Jebel Toubkal
						div.title.font-1-5 Desertul Sahara
						div.price.font-1-2 690 euro

				a(title="Kilimanjaro", style="height: 400px;").full-grid-item.third.planning
					div.flex-1(style="background-image:url('/images/kilimanjaro.png'); background-size: cover; background-position: top center;")

					div.details.dust-white-color
						div.separator.orange.btmspace-10
						div.title.font-1-5 Kilimanjaro
						div.price.font-1-2.orange-color In curand


				if device.desktop || device.tablet
					a(href="/grossglockner", title="Expeditie Grossglockner", style="height: 400px;").full-grid-item.two-third.planning
						div.flex-1(style="background-image:url('/images/grossglokner-grid-3.png'); background-size: cover; background-position: top center;")
						div.upper-details.orange-color
							div.date.font-1-3 29 iulie - 3 august
						div.ribbon-small(style="background-image:url('/images/logo-expeditii.png'); ")
						div.details.dust-white-color
							div.separator.orange.btmspace-10
							div.title.font-1-5 Grossglockner
							div.price.font-1-2 490 euro

					a(title="Europa", style="height: 400px").full-grid-item.third.planning
						div.flex-1.dark-grey
						div.details.dust-white-color(style="bottom: 35%; left:10%")
							div.separator.orange.btmspace-10
							div.title.font-2 EUROPA

				if device.mobile

					a(title="Europa", style="height: 400px").full-grid-item.third.planning
						div.flex-1.dark-grey
						div.details.dust-white-color(style="bottom: 35%; left:10%")
							div.separator.orange.btmspace-10
							div.title.font-2 EUROPA

					a(href="/grossglockner", title="Expeditie Grossglockner", style="height: 400px;").full-grid-item.two-third.planning
						div.flex-1(style="background-image:url('/images/grossglokner-grid-3.png'); background-size: cover; background-position: top center;")
						div.upper-details.orange-color
							div.date.font-1-3 29 iulie - 3 august
						div.ribbon-small(style="background-image:url('/images/logo-expeditii.png'); ")
						div.details.dust-white-color
							div.separator.orange.btmspace-10
							div.title.font-1-5 Grossglockner
							div.price.font-1-2 490 euro

				a(href="/montblanc", title="Expeditie Mont Blanc", style="height: 400px;").full-grid-item.half.planning
					div.flex-1(style="background-image:url('/images/montblanc.png'); background-size: cover; background-position: bottom center;")
					div.upper-details.orange-color
						div.date.font-1-3 iulie - august
					div.ribbon-small(style="background-image:url('/images/logo-expeditii.png');")
					div.details.dark-grey-color
						div.separator.orange.btmspace-10
						div(style="text-shadow: none;").title.font-1-5 Mont Blanc
						div(style="text-shadow: none;").price.font-1-2 600 euro



				a(href="/elbrus", title="Expeditie Elbrus", style="height: 400px;").full-grid-item.half.planning
					div.flex-1(style="background-image:url('/images/elbrus-grid-5.png'); background-size: cover; background-position: bottom center;")
					div.upper-details.orange-color
						div.date.font-1-3 26 august - 3 septembrie
					div.ribbon-small(style="background-image:url('/images/logo-expeditii.png');")
					div.details.dust-white-color
						div.separator.orange.btmspace-10
						div.title.font-1-5 Elbrus
						div.price.font-1-2 680 euro

				a(title="Himalaya", style="height: 400px").full-grid-item.third.planning
					div.flex-1.dark-grey
					div.details.dust-white-color(style="bottom: 35%; left:10%")
						div.separator.orange.btmspace-10
						div.title.font-2 ASIA

				a(href="/everestbc", title="Expeditie Everest Base camp", style="height: 400px;").full-grid-item.two-third.planning
					div.flex-1(style="background-image:url('/images/everestbc.png'); background-size: cover; background-position: top center;")
					div.upper-details.orange-color
						div.date.font-1-3 noiembrie
					div.ribbon-small(style="background-image:url('/images/logo-expeditii.png');")
					div.details.dust-white-color
						div.separator.orange.btmspace-10
						div.title.font-1-5 Everest Base Camp
						div(style="text-shadow: 2px 2px 0px #333;").price.font-1-2 1.550 euro


				a(href="/k2-basecamp", title="K2 basecamp").full-grid-item.half.planning
					div.flex-1(style="background-image:url('/images/kilimanjaro.png'); background-size: cover; background-position: top center;")

					div.details.dust-white-color
						div.separator.orange.btmspace-10
						div.title.font-1-5 K2 basecamp
						div.price.font-1-2.orange-color In curand

				a(href="/everest-intoarcerea-cu-elicopter", title="Inscriere expeditie Everest BC si intoarcerea cu elicopterul ").full-grid-item.half.planning
					div.flex-1(style="background-image:url('/images/everesteli-grid-4.png'); background-size: cover; background-position: top center;")
					div.upper-details.orange-color
						div.date.font-1-3 10 - 22 octombrie
					div.ribbon-small(style="background-image:url('/images/logo-expeditii.png'); background-size: 30px 30px;")
					div.details.dust-white-color
						div.separator.orange.btmspace-10
						div.title.font-1-5 Everest - Intoarcerea cu elicopterul
						div.price.font-1-2 1.850 euro

				a(href="/island-peak-basecamp", title="Inscriere expeditie Island Peak", style="width:100%;").full-grid-item.two-third.planning.btmspace-80
					div.flex-1(style="background-image:url('/images/island-grid-1.png'); background-size: cover; background-position: center;")
					div.upper-details.orange-color
						div.date.font-1-3 10 - 27 octombrie
					div.ribbon-small(style="background-image:url('/images/logo-expeditii.png'); background-size: 30px 30px;")
					div.details.dust-white-color
						div.separator.orange.btmspace-10
						div.title.font-1-5 Island Peak - Chhukung Ri + Nangkartshang
						div.price.font-1-2 1.990 euro


	div.repeat-ribbon.wrapper.coloured
		div.repeat(style="background-image: url('/images/repeat.png');height: 50px;background-size: contain;")


