doctype html
html
    include components/header.jade

    body#top(data-device="#{type}")

        //div#loader-wrapper
            //div#loader
            //    img(src="/images/example.gif", alt="animated")

            div.loader-section.section-left
            div.loader-section.section-right

        div#content
            block content

            include components/footer.jade
            include components/scripts.jade