doctype html
html
    block vars
    head
        title #{title}
        meta(name='description', content='#{description}')
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

        link(href="/styles/bootstrap.min.css" rel="stylesheet")
        link(href="/styles/slick.css" rel="stylesheet")
        link(href="/styles/main.css" rel="stylesheet" type="text/css" media="all")



    body#top.dark-grey-normal(data-device="#{type}")

        //div#loader-wrapper
            //div#loader
            //    img(src="/images/example.gif", alt="animated")

            div.loader-section.section-left
            div.loader-section.section-right

        div#content
            block content

            include components/footer.jade
            include components/scripts.jade