extends ./index.jade

block vars
	- var title='Kilimanjaro | Flo Aventure Tours'
	- var description = 'Flo Adventure Tours va ofera in curand posibilitatea unei expeditii pe Kilimanjaro.'
	- var ogtitle= title
	- var ogDescription= description
	- var ogurl = 'http://www.floadventure.ro/kilimjaro'
	- var ogimage = 'http://www.floadventure.ro/images/kilimanjaro.png'

block content
	div.bgded.bgded-top(style="background-image:url('/images/kilimanjaro.png');")
		div.wrapper.dust-white-color
			header#header.clear

				if device.desktop
					div.main-nav.downspace-40.dust-white-color.flex-1.clear
						include components/navigation

				else
					div.mobile-nav.flex-1
						i.fa.fa-bars.fa-2x.upper.show-panel.dust-white-color
						nav.sidenav.clear
							include components/navigation-mobile

				div#logo.text-center.flex-4.upspace-35
					h3.dust-white-color.font-2 Flo Adventure Tours

					h1.font-3
						a.dust-white-color(href="#top", title="Kilimanjaro") Kilimanjaro
					h1.orange-color.font-3.font-montserrat-bold In Curand


	div.repeat-ribbon.wrapper.coloured
		div.repeat(style="background-image: url('/images/repeat.png');height: 50px;background-size: contain;")
