extends ./index.jade

block content
    div.bgded.bgded-top
        div.curtain-gradient
        //video#bgvid(autoplay,muted,loop,width="500",height="281")
            source(src="/images/romania.mp4", type="video/mp4")

        div.wrapper.dust-white-color
            header#header.hoc.clear

                if device.desktop
                    div.main-nav.clear
                        include components/navigation
                else
                    div.mobile-nav
                        i.fa.fa-bars.fa-2x.upper.show-panel
                        nav.sidenav.clear
                            include components/navigation

                div#logo.upspace-40vh.text-center
                    h1.font-4
                        a(href="#top") Romania
                    h3.upspace-35 Flo Adventure Tours

    div.page-description.wrapper.dark-grey-normal.light-grey-color
        div.container.clear(data-device="#{type}")

            div#demo-grid(data-device="#{type}")
                a.grid-item.light-grey
                    div.height-auto
                        div.banner.dark-grey-color ROMANIA, Cultura, turism, aventura, distractie.

                a.grid-item.big.dark-grey.column(href="/circuitul-castelelor")
                    div.ribbon.orange cultura
                    div.flex-1-6.height-half
                        h4.title.light-grey-color.upspace-35 Circuitul celor 6 castele pline de istorie.
                        div.description.light-grey-color Patrunde alaturi in atmosfera medievala inspirata de castelele din Romania.
                    div.flex-1
                        div(style="background-image:url('/images/castle-icon.png'); height: 100%; background-size: cover;")

                a.grid-item.bigger.dust-white.dust-white-color(href="/4x4-3-zile")

                    div.ribbon.light-grey aventura
                    div.flex-1-6.height-60
                        div.curtain
                        div(style="background-image:url('/images/patrolica2.png'); height: 100%; background-size: cover; display: flex; flex-flow: column; justify-content: flex-end;")
                            div.title.font-2 Adrenalina pe 4 roti
                            div.description.light-grey-color(style="padding-bottom: 60px;") Destinatii pitoresti, povesti geografice, aventura plina de adrenalina.
                    div.bottom-ribbon
                        i.fa.fa-calendar
                            em 3


                a.grid-item.dust-white(href="/4x4-1-zi")
                    div.ribbon.light-grey aventura
                    div.flex-1.height-half
                        div(style="background-image:url('/images/4x4-9.png'); height: 100%; background-size: cover;")
                    div.flex-1.height-half
                        h4.title.light-grey-color Experienta 4x4
                        div.description.primary-grey-color Lorem Ipsum is simply dummy text of the printing and typesetting industry
                    div.bottom-ribbon
                        i.fa.fa-calendar
                            em 1

                a.grid-item.dark-grey(href="/apuseni-5-zile")
                    div.ribbon.light-grey aventura
                    div.flex-1-6.height-60
                        div(style="background-image:url('/images/apuseni-3.png'); height: 100%; background-size: cover;")
                    div.flex-1.height-40
                        h4.title.light-grey-color 5 zile in Apuseni
                        div.description.primary-grey-color Descopera farmecul localitatiilor si rezervatiilor din Apuseni.


                a.grid-item.orange
                    div.height-auto
                        div.banner.dust-white-color Destinatii pitoresti, povesti geografice, aventura plina de adrenalina.

                a.grid-item.dark-grey
                    div.banner.flex-1(style="background-image:url('/images/cetatile-ponorului1.png'); background-size: cover;")

                a.grid-item.dark-grey(href="/apuseni-3-zile")
                    div.ribbon.light-grey aventura
                    div.flex-1.height-half
                        div(style="background-image:url('/images/apuseni-2.png'); height: 100%; background-size: cover;")
                    div.flex-1.height-half
                        h4.title.light-grey-color 3 zile in Apuseni
                        div.description.primary-grey-color Combinatia perfecta dintre istoria mineritului si unicitatea peisajelor salbatice naturale din Romania.
                    div.bottom-ribbon
                        i.fa.fa-calendar
                            em 3

                a.grid-item.big.dark-grey
                    div.center
                        h4.title.light-grey-color Hai cu noi.
                        div.button.orange.primary-grey-color Scrie-ne


    div.image.height-500
        div.curtain-gradient-back
        div(style="background:url('/images/belioara-platou.png'); width: 100%; height: 100%; background-size: cover; background-attachment: fixed;")

    div.wrapper
        div.repeat(style="background-image: url('/images/repeat-dark.png');height: 40px;background-size: contain; margin-top: -40px;")