@import url("fontawesome-4.5.0.min.css");
@font-face {
  font-family: 'Cardo-Bold';
  src: url("fonts/Cardo-Bold.ttf");
}
@font-face {
  font-family: 'Cardo-Regular';
  src: url("fonts/Cardo-Regular.ttf");
}
@font-face {
  font-family: 'Cardo-Italic';
  src: url("fonts/Cardo-Italic.ttf");
}
@font-face {
  font-family: 'Montserrat-Black';
  src: url("fonts/Montserrat-Black.ttf");
}
@font-face {
  font-family: 'Montserrat-Bold';
  src: url("fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: 'Montserrat-Light';
  src: url("fonts/Montserrat-Light.ttf");
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url("fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: 'Montserrat-Thin';
  src: url("fonts/Montserrat-Thin.ttf");
}
@font-face {
  font-family: 'Effra-Regular';
  src: url("fonts/Effra_Std_Rg.ttf");
}
@font-face {
  font-family: 'Effra-Italic';
  src: url("fonts/Effra_Std_It.ttf");
}
@font-face {
  font-family: 'Effra-Mid';
  src: url("fonts/Effra_Std_Md.ttf");
}
.font-1 {
  font-size: 1em !important;
}
.font-1-2 {
  font-size: 1.2em !important;
}
.font-1-3 {
  font-size: 1.3em !important;
}
.font-1-5 {
  font-size: 1.5em !important;
}
.font-2 {
  font-size: 2em !important;
}
.font-3 {
  font-size: 3em !important;
}
.font-4 {
  font-size: 4em !important;
}
.font-montserrat-black {
  font-family: 'Montserrat-Black';
}
.font-montserrat-bold {
  font-family: 'Montserrat-Bold';
}
.font-montserrat-thin {
  font-family: 'Montserrat-Thin';
}
.font-montserrat-regular {
  font-family: 'Montserrat-Regular';
}
.font-montserrat-light {
  font-family: 'Montserrat-Light';
}
.font-effra-regular {
  font-family: 'Effra-Regular';
}
.font-cardo-regular {
  font-family: 'Cardo-Regular';
}
.font-open-sans {
  font-family: 'Open Sans', sans-serif;
}
.flex-1 {
  flex: 1;
}
.flex-1-2 {
  flex: 1.2;
}
.flex-1-5 {
  flex: 1.5;
}
.flex-1-6 {
  flex: 1.6;
}
.flex-2 {
  flex: 2;
}
.flex-4 {
  flex: 4;
}
.left {
  text-align: left !important;
}
.right {
  text-align: right !important;
}
.max-width-60 {
  max-width: 60% !important;
}
.max-width-40 {
  max-width: 40% !important;
}
.max-width-80 {
  max-width: 80% !important;
}
.max-width-95 {
  max-width: 95% !important;
}
.max-width-70 {
  max-width: 70%;
}
.max-width-full {
  max-width: 100vw !important;
}
.width-full {
  margin: 0;
  width: 100vw !important;
}
.height-30 {
  height: 30px !important;
}
.height-200 {
  height: 200px !important;
}
.height-300 {
  height: 300px !important;
}
.height-400 {
  height: 400px !important;
}
.height-500 {
  height: 500px !important;
}
.height-600 {
  height: 600px !important;
}
.height-800 {
  height: 800px !important;
}
.height-full {
  height: 100vh !important;
}
.height-auto {
  height: auto !important;
}
.height-half {
  height: 50% !important;
}
.height-100 {
  height: 100% !important;
}
.height-40 {
  height: 40% !important;
}
.height-60 {
  height: 60% !important;
}
.upspace-0 {
  padding-top: 0 !important;
}
.upspace-5 {
  padding-top: 5px;
}
.upspace-10 {
  padding-top: 10px !important;
}
.upspace-15 {
  padding-top: 15px !important;
}
.upspace-20 {
  padding-top: 20px;
}
.upspace-35 {
  padding-top: 35px !important;
}
.upspace-40 {
  padding-top: 40px !important;
}
.upspace-50 {
  padding-top: 50px;
}
.upspace-40vh {
  padding-top: 40vh;
}
.upspace-90 {
  padding-top: 90px !important;
}
.upspace-200 {
  padding-top: 200px !important;
}
.downspace-40 {
  padding-bottom: 40px;
}
.downspace-50 {
  padding-bottom: 50px;
}
.btmspace-10 {
  margin-bottom: 10px;
}
.btmspace-15 {
  margin-bottom: 15px;
}
.btmspace-30 {
  margin-bottom: 30px !important;
}
.btmspace-50 {
  margin-bottom: 50px !important;
}
.btmspace-80 {
  margin-bottom: 80px !important;
}
.inspace-0 {
  padding: 0;
}
.inspace-5 {
  padding: 5px;
}
.inspace-10 {
  padding: 10px;
}
.inspace-15 {
  padding: 15px !important;
}
.inspace-30 {
  padding: 30px;
}
.inspace-50 {
  padding: 50px !important;
}
.inspace-80 {
  padding: 80px;
}
.margin-auto {
  margin: 0 auto;
}
.padding-0 {
  padding: 0 !important;
}
.z-index-1 {
  z-index: 1;
}
/*Grid*/
.one_half,
.one_third,
.two_third,
.one_quarter,
.two_quarter,
.three_quarter {
  display: inline-block;
  float: left;
  margin: 0 0 0 3.06748466257669%;
  list-style: none;
}
.first {
  margin-left: 0;
  clear: left;
}
.one_quarter {
  width: 22.69938650306748%;
}
.one_third {
  width: 30.28834355828221%;
}
.one_half,
.two_quarter {
  width: 46.46625766871166%;
}
.two_third {
  width: 60.6441717791411%;
}
.three_quarter {
  width: 74.23312883435584%;
}
.full_width {
  width: 100% !important;
}
@media screen and (max-width: 750px) {
  .imgl,
  .imgr {
    display: inline-block;
    float: none;
    margin: 0 0 10px 0;
  }
  .fl_left,
  .fl_right {
    display: block;
    float: none;
  }
  .one_half,
  .one_third,
  .two_third,
  .one_quarter,
  .two_quarter,
  .three_quarter {
    display: block;
    float: none;
    width: auto;
    margin: 0 0 30px 0;
    padding: 0;
  }
}
/* Layering*/
.upper {
  z-index: 20;
}
.downer {
  z-index: 0;
}
/* Positioning */
.fixed {
  position: fixed;
}
/*Colors*/
.olive {
  background-color: #956304;
}
.orange {
  background-color: #F8B007 !important;
}
.dark-grey {
  background-color: #1D1D1D;
}
.dust-white {
  background-color: #FBFBFB !important;
}
.light-grey {
  background-color: #949495 !important;
}
.dark-grey-normal {
  background-color: #2e2e2e;
}
.cloudy {
  background-color: #dfdfdf;
}
.dust-grey {
  background-color: #e6e6e0 !important;
}
/*Colors*/
.white-color {
  color: #ffffff;
}
.olive-color {
  color: #956304;
}
.orange-color {
  color: #F8B007 !important;
}
.dark-grey-color {
  color: #333 !important;
}
.dust-white-color {
  color: #FBFBFB !important;
}
.light-grey-color {
  color: #949495 !important;
}
.subtile-grey-color {
  color: #2E2E2E !important;
}
.cloudy-color {
  color: #dfdfdf !important;
}
.dust-grey-color {
  color: #e6e6e0 !important;
}
.primary-grey-color {
  color: #555 !important;
}
html {
  overflow-y: scroll;
  overflow-x: hidden;
}
html body {
  font-family: 'Montserrat-Light';
  font-size: 16px;
}
html body[data-device='phone'] {
  font-size: 15px;
}
html *,
html *::before,
html *::after {
  transition: all 0.3s ease-in-out;
}
html #loader {
  z-index: 1001;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
html #loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #0a0a0a;
  z-index: 1000;
}
html .loaded #loader {
  opacity: 0;
}
html .loaded #loader-wrapper {
  visibility: hidden;
}
html #loader-wrapper .loader-section.section-left {
  left: 0;
}
html #loader-wrapper .loader-section.section-right {
  right: 0;
}
html .loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(-100%);
  /* IE 9 */
  transform: translateX(-100%);
  /* Firefox 16+, IE 10+, Opera */
}
html .loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(100%);
  /* IE 9 */
  transform: translateX(100%);
  /* Firefox 16+, IE 10+, Opera */
}
html .loaded #loader-wrapper .loader-section.section-right,
html .loaded #loader-wrapper .loader-section.section-left {
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
html .wrapper {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
  word-wrap: break-word;
  position: relative;
  flex: 1;
  flex-direction: column;
}
html .bgded {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}
html .bgded-top {
  height: 100vh;
}
html .hoc {
  display: block;
  margin: 0 auto;
}
html .curtain {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
html .curtain-gradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background: linear-gradient(to bottom, rgba(255, 0, 0, 0), #2e2e2e);
}
html .curtain-gradient-back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: linear-gradient(to top, rgba(255, 0, 0, 0), #2e2e2e);
}
html video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
}
html .center {
  text-align: center;
  margin: 0 auto ;
}
html .right {
  text-align: right;
}
html .container {
  padding: 40px 0;
}
html .nospace {
  margin: 0;
  padding: 0;
  list-style: none;
}
html .clear,
html .group {
  display: block;
}
html .clear::before,
html .clear::after,
html .group::before,
html .group::after {
  display: table;
  content: "";
}
html .clear,
html .clear::after,
html .group,
html .group::after {
  clear: both;
}
html .button,
html button {
  display: block;
  font-family: 'Montserrat-Regular';
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  width: auto;
  max-width: 160px;
  margin: 16px auto;
  padding: 24px;
  border: none;
}
html .button:hover,
html button:hover {
  text-decoration: none;
}
html .button i,
html button i {
  font-family: 'Montserrat-Regular';
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  font-size: 0.6em;
}
html hr {
  margin: 0;
  color: inherit;
  border-color: inherit;
}
html .highlight {
  text-decoration: none;
  color: #F8B007;
  cursor: pointer;
}
html .heading-sep {
  width: 80px;
  height: 3px;
  margin: 30px 0;
}
html .heading-sep-middle {
  width: 80px;
  height: 3px;
  margin: 30px auto;
}
html .hide-me {
  -webkit-animation: cssAnimation 10s forwards;
  animation: cssAnimation 10s forwards;
}
@keyframes cssAnimation {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes cssAnimation {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
html #header {
  padding: 30px 0;
  flex: 1;
  display: flex;
  flex-direction: column;
}
html #header a {
  text-decoration: none;
}
html #header .main-nav {
  font-family: 'Montserrat-Regular';
  font-size: 13px;
  line-height: normal;
}
html #header .main-nav ul.fl {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  position: relative;
}
html #header .main-nav ul.fl.drop ul.fl {
  display: none;
}
html #header .main-nav ul.fl i.fa-close {
  display: none;
}
html #header .main-nav ul.fl li.fl {
  display: inline-block;
  position: relative;
  padding: 10px 30px;
  margin: 0 8px;
  border-color: inherit;
  border-width: 2px;
  border-style: solid;
}
html #header .main-nav ul.fl li.fl.home-desk {
  float: left;
  padding: 8px 10px;
  margin: 0 20px;
}
html #header .main-nav ul.fl li.fl.home-mob {
  display: none;
}
html #header .main-nav ul.fl li.fl.language {
  float: right;
  top: -39px;
  padding: 10px 10px;
  margin: 0 20px;
}
html #header .main-nav ul.fl li.fl.language ul.sl {
  width: 82px;
  left: -47px;
}
html #header .main-nav ul.fl li.fl a {
  text-shadow: none;
  color: inherit;
}
html #header .main-nav ul.fl li.fl.fl:hover {
  border-color: rgba(255, 255, 255, 0.7);
  border-bottom-color: transparent;
  background-color: rgba(255, 255, 255, 0.7);
}
html #header .main-nav ul.fl li.fl.fl:hover ul.sl {
  display: block;
  background-color: rgba(255, 255, 255, 0.7);
}
html #header .main-nav ul.fl li.fl.fl.active {
  border-color: rgba(255, 255, 255, 0.7);
  border-bottom-color: transparent;
  background-color: rgba(255, 255, 255, 0.7);
}
html #header .main-nav ul.fl li.fl ul.sl {
  display: none;
  z-index: 9999;
  position: absolute;
  padding: 0;
  left: -2px;
  top: 38px;
  margin: 0;
  width: 190px;
}
html #header .main-nav ul.fl li.fl ul.sl li.sl {
  position: relative;
  list-style: none;
  text-transform: none;
  text-align: left;
  padding: 10px 30px;
}
html #header .main-nav ul.fl li.fl ul.sl li.sl.sl:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
html #header .main-nav ul.fl li.fl ul.sl ul.tl {
  display: none;
  z-index: 9999;
  position: absolute;
  left: 190px;
  top: -1px;
  margin: 0;
  padding: 0;
  width: 190px;
  text-transform: none;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.7);
}
html #header .main-nav ul.fl li.fl ul.sl ul.tl li.tl {
  list-style: none;
  text-transform: none;
  text-align: left;
  padding: 10px 30px;
}
html #header .main-nav ul.fl li.fl ul.sl ul.tl li.tl.tl:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
html #header .main-nav ul.fl li.fl ul.sl li.sl:hover ul.tl {
  display: block;
}
html #header div#logo * {
  margin: 0;
  line-height: 1;
}
html #header div#logo h1 {
  font-size: 3em;
  text-transform: uppercase;
  font-family: 'Montserrat-Black';
  letter-spacing: 1px;
  word-wrap: normal;
}
html #header div#logo h3 {
  font-family: 'Montserrat-Light';
  font-size: 1.5em;
}
html #header div#logo a:hover {
  color: inherit;
}
html #pageintro {
  padding: 5% 0;
  text-align: center;
  flex: 1;
}
html #pageintro * {
  transition: 1s;
}
html #pageintro article {
  display: block;
  max-width: 60%;
  margin: 0 auto;
}
html #pageintro article .introtxt {
  position: relative;
  margin: 0 0 50px 0;
  padding: 40px 0;
  color: #000000;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 1px 1px 17px 3px #2e2e2e45 45;
}
html #pageintro article .introtxt .quote {
  position: absolute;
  left: 43px;
  color: rgba(0, 0, 0, 0.3);
  text-align: left;
  margin-bottom: 7px;
}
html #pageintro article .introtxt #quote-carousel .carousel-inner {
  padding: 40px;
}
html #pageintro article .introtxt #quote-carousel .carousel-inner .carousel-item {
  min-height: 19px;
  font-size: 1em;
  display: none;
  font-family: 'Cardo-Regular';
}
html #pageintro article .introtxt #quote-carousel .carousel-inner .active {
  display: block;
}
html #pageintro article .introtxt #quote-carousel .carousel-inner .author {
  font-family: 'Montserrat-Regular';
}
html #pageintro article .introtxt #quote-carousel .carousel-inner .author::before {
  content: "\2014";
  color: #949495;
  display: block;
  font-size: 2em;
}
html #pageintro article .introtxt #quote-carousel .carousel-indicators li {
  display: none;
}
html .scroll-down {
  width: 50px;
  height: 50px;
  text-align: center;
  margin: -67px auto 17px auto;
}
html .chevron {
  position: absolute;
  width: 50px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}
html .chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}
html .chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}
html .chevron:before,
html .chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}
html .chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}
html .chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}
html #description {
  font-family: 'Cardo-Regular';
}
html #description h4 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat-Regular';
}
html #description h4::after {
  content: "\2014";
  color: #F8B007;
  display: block;
  font-size: 2em;
}
html #description li {
  padding: 0;
}
html .page-description {
  height: auto;
  width: 100%;
}
html .page-description h3 {
  font-family: 'Montserrat-Bold';
}
html .page-description h5 {
  font-family: 'Montserrat-Regular';
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2em;
  flex: 1;
}
html .page-description[data-device='phone'] {
  overflow: hidden;
}
html .page-description span {
  display: block;
}
html .page-description .container {
  max-width: 1000px;
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}
html .page-description .container .item-list {
  flex: 1;
}
html .page-description .container .item-list .number {
  font-family: 'Montserrat-Black';
  font-size: 3em;
}
html .page-description .container .item-list .description {
  font-size: 2em;
  position: relative;
  left: -20px;
  top: -18px;
}
html .page-description .container .text {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}
html .page-description .container[data-device='phone'] {
  flex-direction: column;
}
html .page-description .container[data-device='phone'] .page-box .map {
  width: 90vw;
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
}
html .page-description .container[data-device='phone'] .page-box span {
  display: block;
}
html .page-description .container[data-device='tablet'] .number {
  font-size: 2.3em;
}
html .page-description .container[data-device='tablet'] .description {
  font-size: 1.5em;
  left: 20px;
}
html .page-description .container .board {
  width: 100%;
}
html .page-description .container .board .nav {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  position: relative;
}
html .page-description .container .board .nav .linner {
  height: 1px;
  background: #F8B007;
  position: absolute;
  width: 67%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 1;
}
html .page-description .container .board .nav li {
  border-radius: 50%;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 30%;
  flex: 1;
  z-index: 2;
}
html .page-description .container .board .nav li a {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: #FBFBFB;
  border: 1px solid #dfdfdf;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F8B007;
}
html .page-description .container .board .nav li a[data-device='phone'] {
  width: 45px;
  height: 45px;
}
html .page-description .container .board .nav li a.active {
  border: 1px solid #F8B007;
  background-color: #F8B007;
  color: #FBFBFB;
}
html .page-description .container .board .nav li a.active::after {
  content: " ";
  position: absolute;
  opacity: 1;
  margin: 0 auto;
  text-align: center;
  bottom: -10px;
  border: 5px solid transparent;
  border-bottom-color: #F8B007;
  transition: 0.1s ease-in-out;
}
html .page-description .container .board .nav li a p {
  width: 20px;
  height: 20px;
  background-color: #F8B007;
  margin: 0;
}
html .page-description .container .page-box,
html .page-description .container .page-box-tiny {
  height: 100%;
}
html .page-description .container .page-box p.pretitle,
html .page-description .container .page-box-tiny p.pretitle {
  text-transform: uppercase;
}
html .page-description .container .page-box h4,
html .page-description .container .page-box-tiny h4 {
  text-transform: uppercase;
  font-size: 2em;
}
html .page-description .container .page-box h4.tiny,
html .page-description .container .page-box-tiny h4.tiny {
  font-size: 1em;
}
html .page-description .container .page-box .map,
html .page-description .container .page-box-tiny .map {
  height: 400px;
  background-size: contain;
  background-position: bottom center;
  background-repeat: no-repeat;
}
html .page-description .container .page-box form input,
html .page-description .container .page-box-tiny form input {
  background: rgba(255, 255, 255, 0.8);
  font-family: 'Open Sans', sans-serif;
  line-height: 18px;
  font-size: 16px;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  display: block;
  float: left;
  border: none;
}
html .page-description .container .page-box form textarea,
html .page-description .container .page-box-tiny form textarea {
  background: rgba(255, 255, 255, 0.8);
  font-family: 'Open Sans', sans-serif;
  color: #646461;
  line-height: 18px;
  font-size: 16px;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  height: 200px;
  border: none;
}
html .page-description .container .page-box form button,
html .page-description .container .page-box-tiny form button {
  float: left;
  padding: 20px;
}
html .page-description .container .page-box form .checkbox,
html .page-description .container .page-box-tiny form .checkbox {
  width: auto;
}
html .page-description .container .page-box form .group,
html .page-description .container .page-box-tiny form .group {
  width: 100%;
  display: flex;
  flex-direction: row;
}
html .page-description .container .page-box form .group[data-device='phone'],
html .page-description .container .page-box-tiny form .group[data-device='phone'] {
  flex-direction: column;
}
html .page-description .container .page-box form .group span,
html .page-description .container .page-box-tiny form .group span {
  width: 140px;
  flex: 1;
  height: 35px;
}
html .page-description .container .page-box form .group label,
html .page-description .container .page-box-tiny form .group label {
  line-height: 35px;
  padding-left: 7px;
  font-weight: normal;
}
html .page-description .container #full-grid,
html .page-description .container #martie,
html .page-description .container #august {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}
html .page-description .container #full-grid .full-grid-item,
html .page-description .container #martie .full-grid-item,
html .page-description .container #august .full-grid-item {
  position: relative;
  left: 0;
  top: 0;
  visibility: hidden;
  width: 25%;
  height: 420px;
  padding: 3px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
html .page-description .container #full-grid .full-grid-item .ribbon,
html .page-description .container #martie .full-grid-item .ribbon,
html .page-description .container #august .full-grid-item .ribbon {
  position: absolute;
  left: calc(50% - 8px);
  background-color: rgba(46, 46, 46, 0.8);
  background-repeat: no-repeat;
  background-position: center;
  padding: 45px;
  border-radius: 50px;
}
html .page-description .container #full-grid .full-grid-item .subtitle,
html .page-description .container #martie .full-grid-item .subtitle,
html .page-description .container #august .full-grid-item .subtitle {
  position: absolute;
  left: 10%;
  bottom: 10%;
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Montserrat-Bold';
  text-shadow: 1px 1px #333;
}
html .page-description .container #full-grid .full-grid-item.third,
html .page-description .container #martie .full-grid-item.third,
html .page-description .container #august .full-grid-item.third {
  width: 33%;
}
html .page-description .container #full-grid .full-grid-item.half,
html .page-description .container #martie .full-grid-item.half,
html .page-description .container #august .full-grid-item.half {
  width: 50%;
}
html .page-description .container #full-grid .full-grid-item.big,
html .page-description .container #martie .full-grid-item.big,
html .page-description .container #august .full-grid-item.big {
  width: 75%;
}
html .page-description .container #full-grid .full-grid-item.planning,
html .page-description .container #martie .full-grid-item.planning,
html .page-description .container #august .full-grid-item.planning {
  padding: 3px;
}
html .page-description .container #full-grid[data-device="phone"] .full-grid-item,
html .page-description .container #martie[data-device="phone"] .full-grid-item,
html .page-description .container #august[data-device="phone"] .full-grid-item {
  border-top: 1px solid rgba(46, 46, 46, 0.8);
  width: 100%;
}
html .page-description .container #demo-grid {
  width: 90%;
  height: 100vh;
  margin: 0 auto;
}
html .page-description .container #demo-grid .grid-item {
  position: relative;
  left: 0;
  top: 0;
  visibility: hidden;
  width: 200px;
  height: 300px;
  box-sizing: border-box;
  border-radius: 2px;
  display: flex;
  margin: 10px;
  color: #3c3c3c;
  text-decoration: none;
  font-family: 'Montserrat-Bold';
  font-size: 16px;
  flex-flow: column;
  text-align: left;
  justify-content: center;
}
html .page-description .container #demo-grid .grid-item .ribbon {
  text-transform: uppercase;
  font-size: 10px;
  top: 1em;
  left: 1em;
  padding: 2px;
  color: #FBFBFB;
  position: absolute;
}
html .page-description .container #demo-grid .grid-item .bottom-ribbon {
  height: 30px;
  padding: 0 10px;
  bottom: 0;
  position: absolute;
  width: 100%;
  border-top: 0.5px dashed #555;
  font-family: 'Montserrat-Bold';
}
html .page-description .container #demo-grid .grid-item .bottom-ribbon em {
  padding: 0 10px;
}
html .page-description .container #demo-grid .grid-item .title {
  font-family: 'Montserrat-Regular';
  padding: 0 10px;
}
html .page-description .container #demo-grid .grid-item .banner {
  font-size: 1.5em;
  padding: 1em;
}
html .page-description .container #demo-grid .grid-item .description {
  font-family: 'Montserrat-Regular';
  font-size: 10px;
  padding: 0 10px;
}
html .page-description .container #demo-grid .grid-item.big {
  width: 420px;
}
html .page-description .container #demo-grid .grid-item.bigger {
  height: 620px;
}
html .page-description .container #demo-grid .grid-item.taller {
  width: 860px;
}
html .page-description .container #demo-grid .grid-item.column {
  flex-flow: row;
}
html .page-description .container #demo-grid .grid-item.column .ribbon {
  top: 15px;
  left: 15px;
}
html .page-description .container #demo-grid .grid-item.column .title {
  font-size: 1.3em;
  font-family: 'Montserrat-Bold';
  padding: 0 15px;
}
html .page-description .container #demo-grid .grid-item.column .description {
  font-size: 1em;
  font-family: 'Cardo-Regular';
  padding: 0 15px;
}
html .page-description .container #demo-grid[data-device="tablet"] {
  width: 100%;
}
html .page-description .container #demo-grid[data-device="tablet"] .grid-item {
  width: 200px;
  height: 200px;
  margin: 6px;
}
html .page-description .container #demo-grid[data-device="tablet"] .grid-item.big {
  width: 412px;
}
html .page-description .container #demo-grid[data-device="tablet"] .grid-item.bigger {
  height: 412px;
}
html .page-description .container #demo-grid[data-device="phone"] {
  width: 100%;
}
html .page-description .container #demo-grid[data-device="phone"] .grid-item {
  width: 90%;
  height: 200px;
}
html .page-description .container #demo-grid[data-device="phone"] .grid-item.big {
  width: 90%;
}
html .page-description .container #demo-grid[data-device="phone"] .grid-item.bigger {
  height: 200px;
}
html .page-description .container.itinerary {
  padding: 20px 0;
  max-width: 1000px;
}
html .page-description .container.itinerary > .page-box,
html .page-description .container.itinerary > .page-box-tiny {
  border: 0;
  padding: 0 3em;
}
html .page-description .container.itinerary > .page-box h4:after,
html .page-description .container.itinerary > .page-box-tiny h4:after {
  content: '';
}
html .page-description .container.itinerary > .page-box div span,
html .page-description .container.itinerary > .page-box-tiny div span {
  margin: 0;
  display: block;
}
html .page-description .container.itinerary > .page-box div p:first-child,
html .page-description .container.itinerary > .page-box-tiny div p:first-child {
  font-family: 'Cardo-Italic';
}
html .page-description .container.itinerary > .page-box div .italic,
html .page-description .container.itinerary > .page-box-tiny div .italic {
  font-family: 'Cardo-Italic';
}
html .page-description .container.itinerary .left-box {
  text-align: right;
  border-right: 3px solid #F8B007;
}
html .page-description .container.itinerary .right-box {
  text-align: left;
  border-left: 3px solid #F8B007;
}
html .page-description .container.itinerary[data-device='phone'] .page-box-tiny {
  text-align: left;
  border: 0;
  padding: 0;
}
html .image {
  display: flex;
  align-items: center;
  position: relative;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}
html .image > div {
  width: 85%;
  height: 85%;
  display: flex;
  flex-direction: row;
  flex: 1;
}
html .image > div .desc-item {
  flex: 1;
  height: 120px;
  display: flex;
  flex-direction: column;
}
html .image > div .desc-item i {
  flex: 1.3;
}
html .image > div .desc-item .item-header {
  font-family: 'Montserrat-Regular';
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3em;
  flex: 1;
  top: 10px;
  position: relative;
}
html .image > div .desc-item .item-text {
  flex: 1;
  font-family: 'Montserrat-Thin';
}
html .image > div[data-device='phone'] {
  flex-direction: column;
}
html .image > div[data-device='phone'] .desc-item i {
  top: 25px;
  position: relative;
}
html .image .overlay-text i,
html .image .overlay-text p {
  display: inline-block;
  vertical-align: top;
}
html .image .overlay-text i.up,
html .image .overlay-text span.up {
  font-size: 2.4em;
}
html .image .overlay-text p {
  font-family: 'Montserrat-Black';
  font-size: 6em;
}
html .image .overlay-text p.down {
  text-indent: 6em;
  font-size: 2.2em;
  display: block;
  margin-top: -1em;
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Cardo-Bold';
}
html .image[data-device='phone'] {
  height: 100vh;
}
html .image[data-device='tablet'] {
  height: 50vh;
}
html .image .flex-1 {
  flex: 1;
}
html .image .flex-1-5 {
  flex: 1.5;
}
html .price-about {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
html .price-about > p {
  position: relative;
  top: 40px;
}
html .price-about .overlay-text {
  flex: 1;
  display: flex;
  align-items: center;
  font-weight: bold;
}
html .repeat-ribbon {
  position: relative;
}
html .repeat-ribbon .repeat {
  position: absolute;
  bottom: 0;
  width: 100%;
}
html .little-about {
  height: 100vh;
  color: #F8B007;
  font-family: 'Cardo-Regular';
}
html .little-about.narrow {
  height: 500px;
  display: flex;
  position: relative;
  align-items: center;
}
html .little-about .title {
  text-transform: uppercase;
}
html .little-about .container {
  position: relative;
  z-index: 1;
}
html .little-about .container .title {
  text-transform: uppercase;
}
html .little-about .container h4 {
  font-family: 'Montserrat-Regular';
  text-transform: uppercase;
  text-align: center;
  font-size: 2em;
  flex: 1;
}
html .little-about .container h4 h3 {
  text-transform: uppercase;
  text-align: center;
}
html .little-about .container h4::after {
  content: "\2014";
  color: #F8B007;
  display: block;
  font-size: 1.5em;
  flex: 1;
}
html .little-about .container p {
  font-family: 'Cardo-Italic';
  margin: 0 auto;
}
html .little-about .container span {
  margin: 0 auto;
  display: block;
}
html .little-about .container .button {
  display: block;
  font-family: 'Montserrat-Regular';
  text-transform: uppercase;
  box-shadow: 1px 1px 17px 3px #2e2e2e45 45;
  background-color: #F8B007;
  color: #ffffff;
  text-align: center;
  width: auto;
  max-width: 300px;
  margin: 16px auto;
  padding: 24px;
}
html .little-about .container .button:hover {
  text-decoration: none;
}
html .little-about .container .button i {
  font-family: 'Montserrat-Regular';
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  font-size: 0.6em;
}
html .little-about.white-color h4::after {
  content: "\2014";
  color: #ffffff;
}
html .about {
  background-attachment: fixed;
  background-size: cover;
}
html .about::after {
  opacity: 0.4;
}
html .about main {
  position: relative;
  height: 750px;
}
html .about main.device {
  height: auto;
}
html .about main .box-wrapper {
  width: 80%;
  position: relative;
  height: 100%;
  margin: auto;
  overflow: hidden;
}
html .about main .box-wrapper .row-box {
  width: 100%;
  overflow: hidden;
}
html .about main .box-wrapper .shadows-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}
html .about main .box-wrapper .shadows-box .shadow {
  width: 30%;
  height: 350px;
  display: inline-block;
  filter: drop-shadow(8px 8px 10px gray);
}
html .about main .box-wrapper .shadows-box .shadow.shadow-0 {
  clip-path: polygon(37% 45%, 0% 100%, 100% 100%);
  opacity: 0.5;
  background: -webkit-linear-gradient(-45deg, #ffffff 1%, #dee0e0 18%, #0f131c 100%);
}
html .about main .box-wrapper .shadows-box .shadow.shadow-1 {
  clip-path: polygon(63% 11%, 5% 100%, 121% 100%);
  opacity: 0.5;
  margin-left: -29%;
  width: 50%;
  background: -webkit-linear-gradient(top, #959799 0%, #0f131c 100%);
}
html .about main .box-wrapper .shadows-box .shadow.shadow-2 {
  clip-path: polygon(57% 0, 0% 100%, 100% 100%);
  opacity: 0.5;
  background: -webkit-linear-gradient(-45deg, #ffffff 1%, #dee0e0 18%, #0f131c 100%);
  margin-left: -17%;
  width: 65%;
}
html .about main .box-wrapper .shadows-box .shadow.shadow-3 {
  opacity: 0.5;
  background: -webkit-linear-gradient(-45deg, #ffffff 1%, #dee0e0 18%, #0f131c 100%);
  clip-path: polygon(60% 90%, 0 0, 100% 0, 100% 28%);
  width: 50%;
}
html .about main .box-wrapper .shadows-box .shadow.shadow-4 {
  opacity: 0.5;
  background: -webkit-linear-gradient(-45deg, #ffffff 1%, #dee0e0 18%, #0f131c 100%);
  clip-path: polygon(0% 0, 94% 0, 43% 85%);
  width: 62%;
  margin-left: -17%;
}
html .about main .box-wrapper .about-box {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}
html .about main .box-wrapper .about-box a {
  display: block;
  height: 100%;
  margin: auto;
}
html .about main .box-wrapper .about-box .box {
  width: 50%;
  height: 350px;
}
html .about main .box-wrapper .about-box .box.triangle {
  position: relative;
  z-index: 0;
  background-size: cover;
  filter: grayscale(90%);
  display: inline-block;
}
html .about main .box-wrapper .about-box .box.triangle:hover {
  filter: grayscale(30%);
  z-index: 5;
  -webkit-transition: all 300ms ease-in;
  -webkit-transform: scale(1.1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.1);
  transition: all 300ms ease-in;
  transform: scale(1.1);
}
html .about main .box-wrapper .about-box .box.triangle.triangle-1 {
  clip-path: polygon(49% 20%, 5% 100%, 100% 100%);
}
html .about main .box-wrapper .about-box .box.triangle.triangle-2 {
  margin-left: -10%;
  clip-path: polygon(48% 12%, 100% 100%, 0% 100%);
  width: 60%;
  z-index: 2;
}
html .about main .box-wrapper .about-box .box.triangle.triangle-3 {
  background-position: bottom;
  clip-path: polygon(64% 81%, 3% 1px, 100% 1px);
  width: 60%;
  z-index: 2;
}
html .about main .box-wrapper .about-box .box.triangle.triangle-4 {
  background-position: bottom;
  margin-left: -14%;
  clip-path: polygon(1% 1px, 100% 1px, 55% 71%);
}
html .about main .box-wrapper .about-box .introtxt {
  position: absolute;
  width: 200px;
  height: 100px;
  color: #73787a;
  z-index: 10;
}
html .about main .box-wrapper .about-box .introtxt.introtxt-1 {
  top: 10%;
  left: 0;
}
html .about main .box-wrapper .about-box .introtxt.introtxt-2 {
  top: 10%;
  right: 0;
}
html .about main .box-wrapper .about-box .introtxt.introtxt-3 {
  bottom: 10%;
  left: 0;
}
html .about main .box-wrapper .about-box .introtxt.introtxt-4 {
  bottom: 10%;
  right: 0;
}
html .about main .box-wrapper .about-box .introtxt .logo,
html .about main .box-wrapper .about-box .introtxt .introtxt-info {
  display: inline-block;
  padding: 0 2% 0 2%;
  vertical-align: top;
}
html .about main .box-wrapper .about-box .introtxt .logo {
  background: url("../images/sprite.png") 0 0;
  width: 52px;
  height: 52px;
}
html .about main .box-wrapper .about-box .introtxt .logo.whitening-logo {
  background-position: -52px 0;
}
html .about main .box-wrapper .about-box .introtxt.introtxt-2 .logo {
  background-position: 0 -52px;
}
html .about main .box-wrapper .about-box .introtxt.introtxt-2 .whitening-logo {
  background-position: -52px -52px;
}
html .about main .box-wrapper .about-box .introtxt.introtxt-3 .logo {
  background-position: 0 -104px;
}
html .about main .box-wrapper .about-box .introtxt.introtxt-3 .whitening-logo {
  background-position: -52px -104px;
}
html .about main .box-wrapper .about-box .introtxt.introtxt-4 .logo {
  background-position: 0 -156px;
}
html .about main .box-wrapper .about-box .introtxt.introtxt-4 .whitening-logo {
  background-position: -52px -156px;
}
html .about main .box-wrapper .about-box .introtxt .introtxt-info {
  width: 148px;
}
html .about main .box-wrapper .about-box .introtxt .introtxt-info .ttitle {
  padding-top: 16px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'Montserrat-Regular';
}
html .about main .box-wrapper .about-box .introtxt .introtxt-info .line {
  width: 0;
  height: 1px;
  background: #ffffff;
  position: absolute;
}
html .about main .box-wrapper .about-box .introtxt .introtxt-info .introtxt-text {
  display: none;
  font-family: 'Cardo-Regular';
  padding-top: 5px;
}
html .about main .box-wrapper .about-box .introtxt .left {
  left: 52px;
}
html .about main .box-wrapper .about-box .introtxt .right {
  right: 64px;
}
html .about main .box-wrapper .about-box .introtxt .rtl {
  text-align: end;
}
html .about main .box-wrapper .about-box .introtxt .line-animation {
  animation: dude .75s 1 forwards;
}
html .about main .box-wrapper .about-box .introtxt .whitening {
  color: #fff;
}
html .about main .box-wrapper-flow {
  margin: 0 auto;
  display: flex;
}
html .about main .box-wrapper-flow .box-flow {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 1px 1px 17px 3px #2e2e2e45 45;
  margin-bottom: 10px;
  height: 200px;
  position: relative;
}
html .about main .box-wrapper-flow .box-flow div {
  height: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
html .about main .box-wrapper-flow .box-flow .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
html .about main .box-wrapper-flow .box-flow .overlay .center .text {
  font-family: 'Montserrat-Regular';
  text-transform: uppercase;
  font-size: 1.5em;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 22px;
  height: 33%;
}
html .about main .box-wrapper-flow .box-flow .overlay .center .dash {
  width: 21px;
  position: absolute;
  color: white;
  top: 5px;
  font-size: 1.5em;
}
html .about main .box-wrapper-flow .box-flow .overlay .center .dash::after {
  content: "\2014";
  font-size: 1.2em;
  position: absolute;
  top: 49%;
}
html .about main .box-wrapper-flow[data-device='phone'] {
  flex-direction: column;
  width: 85%;
}
html .about main .box-wrapper-flow[data-device='phone'] .box-flow {
  margin-bottom: 15px;
}
html .about main .box-wrapper-flow[data-device='tablet'] {
  flex-direction: row;
  width: 90%;
}
html .about main .box-wrapper-flow[data-device='tablet'] .row-box {
  flex: 1;
  margin-left: 10px;
}
html #legend .category-title {
  font-family: 'Montserrat-Regular';
  color: #F8B007;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5em;
}
html #legend h4 {
  text-transform: uppercase;
  font-family: 'Montserrat-Regular';
}
html #legend h4::after {
  content: "\2014";
  color: #949495;
  display: block;
  font-size: 2em;
}
html #legend p {
  font-family: 'Cardo-Italic';
}
html #legend #grades-carousel .carousel-inner {
  height: 250px;
}
html #legend #grades-carousel .carousel-inner .carousel-item {
  display: none;
  font-family: 'Cardo-Regular';
  font-size: 0.8em;
}
html #legend #grades-carousel .carousel-inner .carousel-item ul {
  display: flex;
  flex-direction: row;
}
html #legend #grades-carousel .carousel-inner .carousel-item ul[data-device='phone'] {
  flex-direction: column;
}
html #legend #grades-carousel .carousel-inner .carousel-item ul li {
  text-align: center;
  flex: 1;
}
html #legend #grades-carousel .carousel-inner .carousel-item ul li .title {
  font-family: 'Cardo-Regular';
}
html #legend #grades-carousel .carousel-inner .carousel-item ul li .logo {
  background-image: url("../images/sprite.png");
  height: 30px;
  width: 51px;
  margin: 10px auto;
}
html #legend #grades-carousel .carousel-inner .carousel-item.expeditii .easy {
  background-position: -104px 0;
}
html #legend #grades-carousel .carousel-inner .carousel-item.expeditii .medium {
  background-position: -104px -30px;
}
html #legend #grades-carousel .carousel-inner .carousel-item.expeditii .difficult {
  background-position: -104px -60px;
}
html #legend #grades-carousel .carousel-inner .carousel-item.aventura .logo {
  height: 52px;
  width: 52px;
}
html #legend #grades-carousel .carousel-inner .carousel-item.aventura .easy {
  background-position: -52px -208px;
}
html #legend #grades-carousel .carousel-inner .carousel-item.aventura .medium {
  background-position: -52px -260px;
}
html #legend #grades-carousel .carousel-inner .carousel-item.aventura .difficult {
  background-position: -52px -312px;
}
html #legend #grades-carousel .carousel-inner .active {
  display: block;
}
html #legend #grades-carousel .carousel-indicators {
  display: block;
  bottom: 0 !important;
  position: relative;
}
html #logos {
  padding: 10px 0;
}
html #logos ul {
  display: flex;
  justify-content: space-around;
  overflow-y: scroll;
}
html #logos li {
  flex: 1;
}
html #logos li:first-child {
  margin-left: 0;
}
html #events {
  background-size: cover;
  background-attachment: fixed;
}
html #events .container .event-box {
  flex: 1;
  margin: 1px;
  height: 400px;
}
html #events .container .event-box .event-overlay {
  height: 200px;
  background-color: rgba(255, 255, 255, 0.7);
}
html #events .container .event-box .event-image {
  height: 200px;
}
html #events .container .grid-item {
  float: left;
  width: 100px;
  height: 100px;
  background: #e6e5e4;
  border: 1px solid #b6b5b4;
}
html #events .container .grid-item--width2 {
  width: 200px;
}
html #events .container .grid-item--height2 {
  height: 200px;
}
html #footer {
  display: flex;
  padding: 30px 0;
  font-family: 'Cardo-Regular';
}
html #footer div {
  padding: 0 15px;
}
html #footer .linklist {
  border-color: #2e2e2e45 45;
}
html #footer .linklist li {
  display: block;
  margin-bottom: 15px;
  padding: 0 0 15px 0;
  border-bottom: 0.5px dotted #2e2e2e;
}
html #footer .linklist li:last-child {
  margin: 0;
  padding: 0;
  border: none;
}
html #footer .linklist li address {
  display: inline-block;
  padding-left: 1em;
}
html #footer legend {
  font-family: 'Montserrat-Regular';
  color: #949495;
}
html #copyright {
  padding: 8px 0;
}
html #copyright .border-line {
  border-top: 0.5px solid #2e2e2e;
}
@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}
@keyframes dude {
  0% {
    width: 0;
  }
  100% {
    width: 120%;
  }
}
@-ms-viewport {
  width: device-width;
}
@media screen and (min-width: 978px) {
  .hoc {
    max-width: 978px;
  }
}
@media screen and (max-width: 900px) {
  .hoc {
    max-width: 90%;
  }
  #header {
    padding: 24px 0;
  }
  #header .mobile-nav {
    display: block;
    height: 50px;
    width: 100%;
    margin-bottom: 21px;
  }
  #header .mobile-nav .drop::after {
    content: '';
  }
  #header .mobile-nav i {
    position: relative;
    left: 15px;
    transition: 1s;
  }
  #header .mobile-nav i.move-right {
    width: 100%;
  }
  #header .mobile-nav i.fa-close {
    top: -46px;
    left: 0;
    position: relative;
  }
  #header .mobile-nav i.expand {
    float: right;
    left: 0;
  }
  #header .mobile-nav .sidenav {
    background-color: rgba(0, 0, 0, 0.92);
    position: fixed;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;
    left: -100%;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  #header .mobile-nav .sidenav.cbp-spmenu-open {
    left: 0px;
  }
  #header .mobile-nav .sidenav ul.fl {
    width: 75%;
    background-color: #333;
    padding: 73px 20px 0 20px;
    margin-bottom: 0;
  }
  #header .mobile-nav .sidenav ul.fl li.home-desk {
    display: none;
  }
  #header .mobile-nav .sidenav ul.fl li.fl {
    list-style: none;
    text-transform: uppercase;
    font-family: 'Effra-Mid';
    padding-bottom: 80px;
  }
  #header .mobile-nav .sidenav ul.fl li.fl > a {
    color: #646461;
    padding: 6px;
    display: block;
    font-size: 1.5em;
    letter-spacing: 3px;
  }
  #header .mobile-nav .sidenav ul.fl li.fl.home-mob {
    padding-bottom: 0;
  }
  #header .mobile-nav .sidenav ul.fl li.fl ul.sl {
    padding: 0;
  }
  #header .mobile-nav .sidenav ul.fl li.fl ul.sl li.sl {
    list-style: none;
    font-size: 1em;
    font-family: 'Montserrat-Light';
    text-transform: capitalize;
    padding: 7px 0 7px 6px;
  }
  #header .mobile-nav .sidenav ul.fl li.fl ul.sl li.sl a {
    color: rgba(255, 255, 255, 0.85);
  }
}
.cbp-spmenu-open {
  left: 0px;
}
@media screen and (max-width: 900px) {
  .about h4 {
    font-family: 'Montserrat-Regular';
    color: #F8B007;
    text-transform: uppercase;
    font-size: 1.5em;
  }
  .about h4::after {
    content: "\2014";
    color: #F8B007;
    display: block;
    font-size: 1.5em;
    flex: 1;
  }
  .about p {
    text-align: center;
    font-family: 'Cardo-Italic';
  }
  .little-about {
    height: 100vh;
    color: #ffffff;
    font-family: 'Cardo-Regular';
    font-size: 1.3em;
  }
  .little-about .container {
    padding: 42% 0 !important;
    flex-direction: column;
    flex: 1;
  }
  .little-about .container h4 {
    font-family: 'Montserrat-Regular';
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    font-size: 2em;
    flex: 1;
  }
  .little-about .container h4::after {
    content: "\2014";
    color: #ffffff;
    display: block;
    font-size: 1.5em;
    flex: 1;
  }
  .little-about .container p {
    color: #ffffff;
  }
  .little-about .container .button {
    box-shadow: 1px 1px 17px 3px #2e2e2e45 45;
  }
}
@media screen and (max-width: 650px) {
  #legend .carousel-inner {
    height: 75vh !important;
  }
}
